<div class="div" itemscope itemtype="https://schema.org/Blog">
  <div class="hero">
    <div class="hero-image" style="background-image: url('{{ article.image.src | img_url: 'master' }}')"></div>
    <div class="hero-content">
      <h1 itemprop="headline">{{ article.title }}</h1>
      <time class="ttu" datetime="{{ article.published_at | date: "%d-%m-%y %R" }}" itemprop="datePublished">{{ article.published_at | date: "%b %d %Y" }}</time>
    </div>
  </div>
  <div class="row">
    <div class="well cell cell--story" itemprop="text">
      <article class="story-text">
        {{ article.content }}
      </article>
    </div>
  </div>
</div>
