<div class="hero hero--image">
  <div class="hero-image" style="background-image: url('{{ article.image.src | img_url: 'master' }}')"></div>
</div>
<div class="row">
  <div class="well cell">
    <h1 class="tac">{{ article.title }}</h1>
    <h4 class="tac tcr">{{ article.metafields.artisan.job_title }}</h4>
  </div>
  {% assign story = article.content | split: '<p>' %}
  <div class="well cell cell--story">
    {{ story[1] | prepend: '<p>' }}
  </div>
</div>
<div class="has-story-bleed">
  <div class="cell">
    <div class="g g--l g--c">
      <div class="g-b g-b--m--1of2 story-text">
        {{ story[2] | prepend: '<p>' }}
      </div>
      <div class="g-b g-b--m--1of2 story-bleed">
        <img src="{{ article.metafields.artisan.inline_1 }}" alt="{{ article.title }}" />
      </div>
    </div>
  </div>
</div>
<div class="has-story-bleed">
  <div class="cell">
    <div class="g g--l g--c">
      <div class="g-b g-b--m--1of2 story-bleed story-bleed--l">
        <img src="{{ article.metafields.artisan.inline_2 }}" alt="{{ article.title }}" />
      </div>
      <div class="g-b g-b--m--1of2 story-text">
        {{ story[3] | prepend: '<p>' }}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="well cell cell--story">
    {% for p in story %}
      {% if forloop.index0 > 3 %}
        {{ p | prepend: '<p>' }}
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="well cell">
    {% include 'artisans' %}
  </div>
</div>
