<header class="header">
  <a class="header-logo" href="/">
    <div class="logo logo--v">
      <div class="logo-mark"><img src="{{ 'image-deux-mains-logomark.svg' | asset_url }}"/></div>
      <div class="logo-word"><img src="{{ 'image-deux-mains-wordmark.svg' | asset_url }}" alt="{{ shop.name }}"/></div>
    </div>
  </a>
  {% if template == 'product' or template == 'blog' or template == 'about' or template == 'artisan' %}
    <a class="header-back" href="{{ shop.url }}">← Back to Shop</a>
  {% elsif template == 'article' %}
    {% unless blog.handle == 'artisans' %}
      <a class="header-back" href="{{ blogs.news.url }}">← Back to Blog</a>
    {% endunless %}
  {% endif %}
  <a class="header-cart" href="/cart">
    Cart
    {% if cart.item_count > 0 %}
      <div class="header-cart-badge">{{ cart.item_count }}</div>
    {% endif %}
  </a>
  {% case template %}
    {% when 'index' %}
      <h1 class="header-title" itemprop="name">{{ shop.name }}</h1>
    {% when 'collection' %}
      <h1 class="header-title" itemprop="name">{{ collection.title }}</h1>
    {% when 'product' %}
      <h1 class="header-title" itemprop="name">{{ product.title }}</h1>
    {% when 'blog' or 'article' %}
      {% unless blog.handle == 'artisans' %}
        <h1 class="header-title" itemprop="name">Blog</h1>
      {% endunless %}
    {% else %}
      <h1 class="header-title">{{ page.title }}</h1>
  {% endcase %}
</header>
