<div class="hero">
  <div class="hero-image" style="background-image: url('{{ blog.metafields.fields['image'] }}')"></div>
  <div class="hero-content">
    <h1>Blog</h1>
  </div>
</div>
<div class="row" itemscope itemtype="https://schema.org/Blog">
  {% paginate blog.articles by 10 %}
    {% for article in blog.articles %}
      <div class="well well--l cell cell--story">
        <article class="story story--mini" itemtype="blogPost">
          {% unless article.metafields.field.hero['image'] is blank %}
            <img src="{{ article.metafields.field.hero['image'] }}" alt="{{ article.title }}" itemprop="image" />
          {% endunless %}
          <h1 class="h2 tac" itemtype="headline">{{ article.title }}</h1>
          <time datetime="{{ article.published_at | date: "%d-%m-%y %R" }}" itemprop="datePublished">{{ article.published_at | date: "%b %d %Y" }}</time>
          <p class="story-excerpt" itemprop="description">{{ article.excerpt }}</p>
          <div class="tac"><a href="{{ article.url }}" class="btn btn--r story-link">Read More</a></div>
        </article>
      </div>
    {% endfor %}
    {% if paginate.pages > 1 %}
      <div class="well cell tac">
        {% if paginate.prev.is_link %}
          <a href="{{ paginate.prev.url }}" class="story-prev">← Newer</a>
        {% endif %}
        {% if paginate.next.is_link %}
          <a href="{{ paginate.next.url }}" class="story-next">Older →</a>
        {% endif %}
      </div>
    {% endif %}
  {% endpaginate %}
</div>
