{% assign meta = collections.frontpage.metafields.hero %}
{% if meta.04_link != blank %}
  <a class="hero" href="{{ meta.04_link }}">
{% else %}
  <div class="hero">
{% endif %}
  <div class="hero-image" style="background-image: url('{% if meta.01_image != blank %}{{ meta.01_image }}{% else %}{{ 'image-frontpage-default.jpg' | asset_url }}{% endif %}')"></div>
  <div class="hero-content">
    <h1>{{ meta.02_title }}</h1>
    {{ meta.03_subtitle }}
    {% if meta.05_cta %}
      <div class="mtm"><span class="btn btn--w btn--s">{{ meta.05_cta }}</span></div>
    {% endif %}
  </div>
{% if meta.04_link != blank %}
  </a>
{% else %}
  </div>
{% endif %}
<div class="row row--emote">
  <a href="{{ pages.about.url }}" style="text-decoration: none;">
    <div class="ptl pbl cell tac">
      <div class="tck ttu ld1 tr2 mbs"><strong>Deux Mains is an employee-owned fashion company working to end poverty. We hand make accessories and footwear as authentic as the two hands that craft them.</strong></div>
      <div class="btn btn--r dib">Learn More</div>
    </div>
  </a>
</div>
<div class="row">
  <div class="store">
    {% include 'collections' %}
    <ul class="store-list nl">
      {% for item in collections.frontpage.products %}
        {% include 'product', item: item %}
      {% endfor %}
    </ul>
  </div>
</div>
