{% if collections.frontpage.metafields.hero.url != blank %}
  <a class="hero" href="{{ collections.frontpage.metafields.hero.url }}">
{% else %}
  <div class="hero">
{% endif %}
  <div class="hero-image" style="background-image: url('{% if collections.frontpage.metafields.hero.image != blank %}{{ collections.frontpage.metafields.hero.image }}{% else %}{{ 'image-frontpage-default.jpg' | asset_url }}{% endif %}')"></div>
  <div class="hero-content">
    <h1>{{ collections.frontpage.metafields.hero.title }}</h1>
    {{ collections.frontpage.metafields.hero.subtitle }}
  </div>
{% if collections.frontpage.metafields.hero.url != blank %}
  </a>
{% else %}
  </div>
{% endif %}
<div class="row row--emote">
  <a href="{{ pages.about.url }}" style="text-decoration: none;">
    <div class="ptl pbl cell tac">
      <div class="tfh ts24 tck lh1 mbs">Haitian-made and Haitian-operated since 2013.</div>
      <div class="btn btn--r dib">Learn More</div>
    </div>
  </a>
</div>
<div class="row">
  <div class="store">
    {% include 'collections' %}
    <ul class="store-list nl">
      {% for item in collections.frontpage.products %}
        {% include 'product', item: item %}
      {% endfor %}
    </ul>
  </div>
</div>
