<div class="hero">
  <div class="hero-image" style="background-image: url('{{ page.metafields.story.hero }}'"></div>
  <div class="hero-content">
    <h1>{{ page.title }}</h1>
  </div>
</div>
<div class="row">
  {% assign story = page.content | split: '<p>' %}
  <div class="well cell cell--story">
    {{ story[0] | prepend: '<p>' }}
  </div>
</div>
<div class="crop crop--immerse mtl mbl">
  <img src="{{ page.metafields.story.big_1 }}" alt="© 2015 Deux Mains" />
</div>
<div class="has-story-bleed">
  <div class="well cell">
    <div class="g g--l">
      <div class="g-b g-b--m--1of2 story-text">
        {{ story[1] | prepend: '<p>' }}
      </div>
      <div class="g-b g-b--m--1of2 story-bleed">
        <img src="{{ page.metafields.story.small_1 }}" alt="© 2015 Deux Mains" />
      </div>
    </div>
  </div>
</div>
<div class="has-story-bleed">
  <div class="well cell">
    <div class="g g--l">
      <div class="g-b g-b--m--1of2 story-bleed story-bleed--l">
        <img src="{{ page.metafields.story.small_2 }}" alt="© 2015 Deux Mains" />
      </div>
      <div class="g-b g-b--m--1of2 story-text">
        {{ story[2] | prepend: '<p>' }}
      </div>
    </div>
  </div>
</div>
<div class="crop crop--immerse mtl mbl">
  <img src="{{ page.metafields.story.big_2 }}" alt="© 2015 Deux Mains" />
</div>
<div class="row">
  <div class="well cell cell--story">
    {{ story[3] | prepend: '<p>' }}
  </div>
</div>
<div class="row">
  <div class="well cell">
    {% include 'artisans' %}
  </div>
</div>
