{% assign add_to_cart = 'Add to cart' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}

<div class="row">
  <div class="well cell">
    <div class="store" itemscope itemtype="http://schema.org/Product">
      {% for collection in product.collections %}
        {% if collection.handle == 'apparel' %}
          {% assign portrait = true %}
        {% endif %}
      {% endfor %}
      <aside class="store-gallery{% if portrait == true %} store-gallery--portrait{% endif %}">
        <div class="store-gallery-lg">
          <ul class="nl">
            {% for image in product.images %}
              <li class="crop {% if portrait == true %}crop--3-4{% else %}crop--4-3{% endif %}"><img src="{{ image.src | product_img_url: 'grande' }}", itemprop="image" alt="{{ product.title | escape }}"/></li>
            {% endfor %}
          </ul>
        </div>
        <div class="store-gallery-thumb">
          <ul class="nl">
            {% for thumb in product.images %}
              <li><a href="javascript:" data-id="{{ thumb.id }}" class="crop"><img src="{{ thumb.src | product_img_url: 'medium' }}" itemprop="image" alt="{{ product.title | escape }}"/></a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="store-features">
          <ul class="nl tac">
            <li>
              <svg aria-hidden class="icn icn--product" role="img" viewbox="0 0 512 512">
                <use xlink:href="#icon_haiti"></use>
              </svg>
              <div class="icn-label">100% Haitian-made</div>
            </li>
            {% assign type = product.type | downcase %}
            {% if type == 'sandals' %}
            <li>
              <svg aria-hidden class="icn icn--product" role="img" viewbox="0 0 512 512">
                <use xlink:href="#icon_tire"></use>
              </svg>
              <div class="icn-label">Made from up-cycled tires</div>
            </li>
            {% endif %}
            <li>
              <svg aria-hidden class="icn icn--product" role="img" viewbox="0 0 512 512">
                <use xlink:href="#icon_eco"></use>
              </svg>
              <div class="icn-label">Eco-friendly</div>
            </li>
            <li>
              <svg aria-hidden class="icn icn--product" role="img" viewbox="0 0 512 512">
                <use xlink:href="#icon_leather"></use>
              </svg>
              <div class="icn-label">Sustainable leather</div>
            </li>
          </ul>
        </div>
      </aside>
      <article class="store-details{% if product.price < product.compare_at_price_max %} store-details--sale{% endif %}">
        {% if product.available %}
          <form action="/cart/add" method="post" enctype="multipart/form-data">
        {% endif %}
          <div class="store-details-preview"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}"></div>
          <h1 class="mbf"{% if product.price < product.compare_at_price_max %} data-discount="{{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price | round }}"{% endif %} itemprop="name">{{ product.title }}</h1>
          <div class="store-details-price">
            <span class="price">
              <span class="price-currency" content="{{ shop.currency }}" itemprop="priceCurrency">$</span>
              <span class="price-amount" content="{{ product.price | money_without_currency }}" itemprop="price">
                <span class="price-dollars">{{ product.price | money_without_currency | replace_first: '.', '</span><span class="price-cents">' }}</span>
              </span>
            </span>
            {% if product.price < product.compare_at_price_max %}
              <span class="price price--og">
                <span class="price-currency">$</span>
                <span class="price-amount">
                  <span class="price-dollars">{{ product.compare_at_price_max | money_without_currency | replace_first: '.', '</span><span class="price-cents">' }}</span>
                </span>
              </span>
            {% endif %}
            {% unless product.available %}
              <div class="store-details-status">Out of Stock</div>
            {% endunless %}
          </div>
          {{ product.description }}
          <div class="store-variant mtm">
            {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
              {% assign hide_default_title = true %}
            {% endif %}
            <div id="product-variants"{% if hide_default_title %} style="display: none;"{% endif %}>
              <div class="form-pair">
                <label class="form-label" for="product-select-{{ product.id }}">Variation</label>
                <div class="form-select">
                  <select id="product-select-{{ product.id }}" name="id">
                    {% for option in product.variants %}
                      <option value="{{ option.id }}" data-price="{{ option.price | money_without_currency }}"{% if option == product.selected_or_first_available_variant %} selected="selected"{% endif %}>{{ option.title | escape }}</option>
                    {% endfor %}
                  </select>
                  <svg aria-hidden class="form-select-icn icn icn--arrow" role="img" viewbox="0 0 512 512">
                    <use xlink:href="#icon_arrow"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          {% if type == 'sandals' %}
          <div class="tac">
            <a href="javascript:" data-modal="#size_chart">View size chart</a>
          </div>
          {% endif %}
          <div class="well tac">
            <input id="add" name="add" type="submit" class="btn btn--l" value="Add to Cart"{% if product.available == false %} disabled{% endif %} />
            {% assign max = blogs.artisans.articles_count %}
            {% capture day_of_year %}{{ 'now' | date: '%j' }}{% endcapture %}
            {% assign random = day_of_year | plus: 0 | modulo: max %}
            {% assign artisan = blogs.artisans.articles[random] %}
            {% assign name = artisan.title | split: ' ' %}
          </div>
          <a href="{{ artisan.url }}" class="artisan-leadIn">
            <div class="artisan-leadIn-img"><img src="{{ artisan.metafields.artisan.thumb }}" alt="{{ name[0] }}" /></div><span class="btn btn--s btn--r">Meet the Artisans</span><h2 class="mts ld1 mbf tck">{{ name[0] }}</h2><span class="dib tr1 tcb ld1">Hear my story &rarr;</span>
          </a>
          <script>
            $( document ).ready( function() {
              DM.form.number();
              $( '#add' ).on( 'click', function( e ) {
                $( '.flash.is-showing' ).removeClass( 'is-showing' );
                var $form = $( 'form[action="/cart/add"]' );
                $.ajax( {
                  type: "POST",
                  url: $form.attr( 'action' ),
                  data: $form.serialize(),
                  success: function( data ) {
                    $( '#flash_added' ).addClass( 'is-showing' );
                  },
                  error: function( data ) {
                    $( '#flash_error' ).addClass( 'is-showing' );
                  }
                });
                e.preventDefault();
              });
              $( '.flash-close' ).on( 'click', function( e ) {
                $( this ).closest( '.flash' ).removeClass( 'is-showing' );
              });
            });

            // Shopify code from https://github.com/Shopify/skeleton-theme/blob/master/templates/product.liquid

            var selectCallback = function(variant, selector) {
              if (variant) {
                if (variant.featured_image) {
                  // Custom image selection
                  $( '[data-id=' + variant.featured_image.id + ']' ).trigger( 'click' );
                }
                if (variant.available) {
                  jQuery('#add').removeClass('is-disabled').prop('disabled', false).val({{ add_to_cart | json }});
                  if (variant.inventory_management && variant.inventory_quantity <= 0) {
                    jQuery('#selected-variant').html({{ product.title | json }}{% unless hide_default_title %} + ' - ' + variant.title{% endunless %});
                  }
                } else {
                  jQuery('#add').val({{ sold_out | json }}).addClass('is-disabled').prop('disabled', true);
                }
              } else {
                jQuery('#add').val({{ unavailable | json }}).addClass('is-disabled').prop('disabled', true);
              }
            };

            jQuery(function($) {
              if( $( '#product-variants' ).is( ':visible' ) ) {
                new Shopify.OptionSelectors('product-variants', { product: {{ product | json }}, onVariantSelected: selectCallback, enableHistoryState: true });
                {% if product.options.size == 1 and product.options.first != 'Title' %}
                  $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
                {% endif %}

                // Custom formatting

                $( 'select' ).each( function( i, el ) {
                  $( this ).prev( 'label' ).addClass( 'form-label' );
                  $( this ).wrap( '<div class="form-select"></div>' );
                  $( this ).after( '<svg aria-hidden class="form-select-icn icn icn--arrow" role="img" viewbox="0 0 512 512"><use xlink:href="#icon_arrow"></use></svg>' );
                  $( this ).closest( '.form-select' ).parent().find( 'label, .form-select' ).wrapAll( '<div class="form-pair"></div>' );
                  $( this ).closest( '.selector-wrapper' ).addClass( 'mtm' );
                });
                var variantUpdate = function() {
                  if( $( '#product-variants-option-0' ).length && $( '#product-variants-option-1' ).length ) {
                    var search = $( '#product-variants-option-0' ).val() + ' / ' + $( '#product-variants-option-1' ).val();
                    var variant = $( 'select[name=id]' ).find( "option:contains('" + search + "')" ).val();
                    console.log( variant );
                    $( 'select[name=id]' ).val( variant );
                  }
                };
                $( 'select:visible' ).on( 'change', variantUpdate );
                $( 'select:visible' ).on( 'blur', variantUpdate );
              }
            });
            </script>
          </div>
        {% if product.available %}
          </form>
        {% endif %}
      </article>
    </div>
  </div>
</div>

{% if product.tags.size > 0 %}
  <div class="row row--related">
    <div class="well well--s cell">
      <h3 class="tac ttu tr3">Other similar products:</h3>
      <ul class="store-details-related nl">
        {% for tag in product.tags %}
          {% assign counter = 1 %}
          {% for related_product in collections.all.products %}
            {% if related_product.tags contains tag and counter <= 4 and related_product.id != product.id %}
              {% include 'product', item: related_product, is_related: true %}
              {% assign counter = counter | plus: 1 %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

<div id="flash_added" class="flash">
  <span class="tfh ts18 tcr">{{ product.title }}</span> has been added to &nbsp;<a class="btn btn--r" href="/cart">Cart</a>&nbsp;.
  <a href="javascript:" class="flash-action flash-close">✕</a>
</div>
<div id="flash_error" class="flash">
  <span class="tcr">There was an error adding <span class="tfh ts18 tcr">{{ product.title }}</span> to the cart. Try refreshing this page.</span>
  <a href="javascript:" class="flash-action flash-close">✕</a>
</div>
